{{> head }}


{{> navbar }}

<div class="row">
    
    <div class="col-8">
        <h1>Homer Simpson</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla at iste laborum, repellat amet officiis quam velit accusamus deleniti aliquam, tenetur eveniet perspiciatis dolorum repellendus ducimus tempora aperiam itaque iure.</p>
    </div>
    
     <div class="col-4">
         <img src="assets/img/homer-simpson.png" class="img-thumbnail">
     </div>
    
</div>

{{> footer }}

